[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
prospector = "*"
mypy = "*"
pytest = "*"
pep8 = "*"
black = "*"

[packages]

[requires]
python_version = "3.7"
